demo/mul4-agentforce-connector-operations-demo/src/main/mule/mule4-agentforce-connector-operations-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ms-agentforce="http://www.mulesoft.org/schema/mule/ms-agentforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ms-agentforce http://www.mulesoft.org/schema/mule/ms-agentforce/current/mule-ms-agentforce.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<ms-agentforce:config name="Agentforce_Config" doc:name="Agentforce Config" doc:id="40136642-33a7-4a9b-a9cf-8d9bd3724b69" >
		<ms-agentforce:connection salesforceOrg="" clientId="" clientSecret="" />
	</ms-agentforce:config>

	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2430f525-f4b3-47da-8f70-3aecb7950ea6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>

	<flow name="PromptTemplate" doc:id="c590d347-42eb-41e6-b945-028a2cdf6190" >
		<http:listener doc:name="Listener" doc:id="53a66d51-c9e9-4775-bc59-9209f2ef37b4" path="/promptTemplate" config-ref="HTTP_Listener_config"/>
		<ms-agentforce:agent-define-prompt-template doc:name="Agent define prompt template" doc:id="ff86dae4-5b31-47ea-bde2-ac85177f1fff"
												  config-ref="Agentforce_Config">
			<ms-agentforce:template ><![CDATA[#[payload.template]]]></ms-agentforce:template>
			<ms-agentforce:instructions ><![CDATA[#[payload.instructions]]]></ms-agentforce:instructions>
			<ms-agentforce:dataset ><![CDATA[#[payload.dataset]]]></ms-agentforce:dataset>
		</ms-agentforce:agent-define-prompt-template>
	</flow>

	<flow name="ChatAnswerPrompt" doc:id="e48149e9-e295-44e0-a83f-19ba0f0014a7" >
		<http:listener doc:name="Listener" doc:id="3b91436f-f2a5-4f48-bd7f-0c650ba002f8" config-ref="HTTP_Listener_config" path="/chat" />
		<ms-agentforce:chat-answer-prompt doc:name="Chat answer prompt" doc:id="14ae9b3d-4dbd-4391-bb39-e22085292b9e" config-ref="Agentforce_AI_Config">
			<ms-agentforce:prompt ><![CDATA[#[payload.prompt]]]></ms-agentforce:prompt>
		</ms-agentforce:chat-answer-prompt>
	</flow>

	<flow name="ChatAnswerPromptWithMemory" doc:id="ca5e0ba5-b398-47e8-a57a-05f96f00f0a2" >
		<http:listener doc:name="Listener" doc:id="18b49118-eca4-4d52-81ef-a89ae1af79e0" config-ref="HTTP_Listener_config" path="/chatwithmemory" />
		<ms-agentforce:chat-answer-prompt-with-memory doc:name="Chat answer prompt with memory" doc:id="273ceb81-25ff-418c-bbfb-784fb76c0782"
													config-ref="Agentforce_AI_Config" memoryPath="#[payload.memorypath]"
													memoryName="#[payload.memoryName]" keepLastMessages="#[payload.lastMsg]">
			<ms-agentforce:prompt ><![CDATA[#[payload.prompt]]]></ms-agentforce:prompt>
		</ms-agentforce:chat-answer-prompt-with-memory>
	</flow>

	<flow name="ChatGenerateFromMessages" doc:id="caef3f57-7e95-4cef-a195-45fb56255e68" >
		<http:listener doc:name="Listener" doc:id="153b4dae-cd9a-49c2-8256-db48e572a8b7" config-ref="HTTP_Listener_config" path="/chatgenfrommsg" />
		<ms-agentforce:chat-generate-from-messages doc:name="Chat generate from messages" doc:id="23f1ecb7-d190-4d43-a816-2ed1f7374042"
												 config-ref="Agentforce_AI_Config">
			<ms-agentforce:messages ><![CDATA[#[payload.prompt]]]></ms-agentforce:messages>
		</ms-agentforce:chat-generate-from-messages>
	</flow>

	<flow name="EmbeddingGenerateFromText" doc:id="3a99332a-efc4-4f38-b84e-cb7f1a44f128" >
		<http:listener doc:name="Listener" doc:id="d72d31d4-df0b-4ab6-ac9b-0a10feb98365" config-ref="HTTP_Listener_config" path="/embedtext" />
		<ms-agentforce:embedding-generate-from-text doc:name="Embedding Generate from text" doc:id="168aa66e-a609-4493-b427-0217ec9c1072"
												  config-ref="Agentforce_AI_Config">
			<ms-agentforce:text ><![CDATA[#[payload.text]]]></ms-agentforce:text>
		</ms-agentforce:embedding-generate-from-text>
	</flow>

	<flow name="EmbeddingGenerateFromFile" doc:id="3a99332a-efc4-4f38-b84e-cb7f1a44f128" >
		<http:listener doc:name="Listener" doc:id="d72d31d4-df0b-4ab6-ac9b-0a10feb98375" config-ref="HTTP_Listener_config" path="/embedfile" />
		<ms-agentforce:embedding-generate-from-file doc:name="Embedding Generate from file" doc:id="168aa66e-a609-4493-b427-0217ec9c1072"
												  config-ref="Agentforce_AI_Config" filePath="#[payload.filepath]">
		</ms-agentforce:embedding-generate-from-file>
	</flow>

	<flow name="EmbeddingAdhocFileQuery" doc:id="3a99332a-efc4-4f38-b84e-cb7f1a44f128" >
		<http:listener doc:name="Listener" doc:id="d72d31d4-df0b-4ab6-ac9b-0a10feb98355" config-ref="HTTP_Listener_config" path="/embedquery" />
		<ms-agentforce:embedding-adhoc-file-query doc:name="Embedding adhoc file query" doc:id="168aa66e-a609-4493-b427-0217ec9c1072"
												config-ref="Agentforce_AI_Config" filePath="#[payload.filepath]">
			<ms-agentforce:prompt ><![CDATA[#[payload.prompt]]]></ms-agentforce:prompt>
		</ms-agentforce:embedding-adhoc-file-query>
	</flow>

	<flow name="RagAdhocLoadDocument" doc:id="03fd7718-a600-47fd-a8f4-baa1cae0aa77" >
		<http:listener doc:name="Listener" doc:id="a81c1dd6-6bf6-4ab0-925f-94ae42383958" config-ref="HTTP_Listener_config" path="/ragadhoc" />
		<ms-agentforce:rag-adhoc-load-document doc:name="Rag adhoc load document" doc:id="6e09fe07-a3e5-4d9e-ae31-0f6cceae3591"
											 config-ref="Agentforce_AI_Config" filePath="#[payload.path]">
			<ms-agentforce:prompt ><![CDATA[#[payload.prompt]]]></ms-agentforce:prompt>
		</ms-agentforce:rag-adhoc-load-document>
	</flow>

	<flow name="ToolsUseAiService" doc:id="c6ca52fc-a5b1-4778-8205-a6c6a779aa5c" >
		<http:listener doc:name="Listener" doc:id="6cf7f3b7-907c-4845-b163-eb3af49db782" config-ref="HTTP_Listener_config" path="/toolsai" />
		<ms-agentforce:tools-use-ai-service doc:name="Tools use ai service" doc:id="5df6c534-98d3-4935-a625-37a4a76b8b4b"
										  config-ref="Agentforce_AI_Config" toolsConfigFilePath="#[payload.config]">
			<ms-agentforce:prompt ><![CDATA[#[payload.prompt]]]></ms-agentforce:prompt>
		</ms-agentforce:tools-use-ai-service>
	</flow>
</mule>
